       *{
           margin: 0px;
           padding: 0px;
       }
       body{
        background: url(../images/background.jpg) no-repeat center center fixed;

        -webkit-background-size: cover;
    
        -moz-background-size: cover;
    
        -o-background-size: cover;
    
        background-size: cover;
        position: relative;
       }
       /* =======================BOX=========================== */
         .box{
            width: 400px;
            height: 300px;
            position: fixed;
            top:50%;
            left:50%;
            margin-left: -200px;
            margin-top: -150px;
          
        }
         /* =======================TITLE=========================== */
         .box .title{
            height: 63px;
            line-height: 63px;
            background-color:  #6f4b72;
            border-top-left-radius: 2px;
            border-top-right-radius:2px;
        }

         .box .title h3{
            margin-left: 22px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 14px;
            color: white;
        }

        .box .title h3 a .fas{
            color: white;
            position: absolute;
            top: 27px;
            right: 24px;
        }
         /* =======================FORM=========================== */
         .box .content{
            height: 237px;
            background-color:#f2f2f2;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }
         .box .content .login-form{
            position: relative;
        }
         .box .content .login-form input{
            height: 50px;
            width: 327px;
            line-height: 50px;
            margin: 23px 22px;
            outline: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: bold;
            color: #999999;
            background-color:  #f0eef0;
            border: 1px solid #dfdfdf;
            border-radius: 2px;
            padding-left: 20px;
            margin-bottom: -3px;
        }
        .box .content .login-form i.fa-lock-alt{
            position: absolute;
            top: 110px;
            right: 41px;
            color: #b3b3b3;
        }
        .box .content .login-form i.fa-user{
            position: absolute;
            top: 40px;
            right: 41px;
            color: #b3b3b3;
        }
   /* =======================BUTTON=========================== */
         .box .content .login-form .button{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: bold;
        }
         .box .content .login-form .button a{
            width: 100px;
            height: 40px;
            border-radius: 2px;
            text-decoration: none;
            background-color: #704c73;
            color: #ded9de;
            position: absolute;
            left:22px;
            top:180px;
            text-align: center;
            line-height: 40px;
            
        }

         .box .content .login-form .button > span{   
            color: #999999;
            position: absolute;
            left:150px;
            top:195px;
        }

