@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 5rem;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #6048aa, #73359f);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
select::-ms-expand {
  display: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.select {
  position: relative;
  display: flex;
  width: 15rem;
  height: 4rem;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
  margin-right: 2rem;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #f39c12;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #380c65;
  overflow: hidden;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.548);
  &__title {
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
  }
  &-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    &-zoom {
      width: calc(20% - 1rem);
      display: flex;
      align-items: center;
      &__button {
        padding: 0.8rem 3rem;
        border: 0;
        margin: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #380c65;
        &:hover {
          background-color: #6508c2;
          color: white;
        }
        &:active {
          transform: scale(0.98);
        }
        &-icon {
          font-size: 2rem;
        }
      }
    }
    &-bg {
      width: calc(60% - 1rem);
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__reset {
        padding: 0.8rem 3rem;
        border: 0;
        border-radius: 0.5rem;
        cursor: pointer;
        color: #380c65;
        font-size: 1.6rem;
        &:active {
          transform: scale(0.98);
        }
      }
      &__color {
        padding: 0.8rem 3rem;
        border: 0;
        margin: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #380c65;
        font-size: 1.6rem;
        &-red {
          background-color: red;
          color: white;
          &:active {
            transform: scale(0.98);
          }
        }
        &-aqua {
          background-color: aqua;
          color: white;
          &:active {
            transform: scale(0.98);
          }
        }
        &-yellow {
          background-color: chocolate;
          color: white;
          &:active {
            transform: scale(0.98);
          }
        }
        &-brown {
          background-color: brown;
          color: white;
          &:active {
            transform: scale(0.98);
          }
        }
        &-pink {
          background-color: pink;
          color: white;
          &:active {
            transform: scale(0.98);
          }
        }
        &-blueviolet {
          background-color: blueviolet;
          color: white;
          &:active {
            transform: scale(0.98);
          }
        }
      }
    }
    &-select {
      width: calc(20% - 1rem);
    }
  }
  &-content {
    color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
    margin-top: 3rem;
  }
}
